{
    "presets": [
        ["es2015", { "modules": false }],
        "stage-0"
    ],
    "env": {
        "development": {
            "plugins": [
                "transform-runtime"
            ]
        }
    }
}