.user-page {
    padding-top: 40px;
    .info {
        background-color: #e7e7e7;
        padding: 15px 0;
        img {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            display: block;
            margin: 0 auto;
        }
        span.name {
            text-align: center;
            margin-top: 5px;
            display: block;
        }
        .bottom {
            margin-top: 15px;
            display: -webkit-flex;
            display: flex;
            .time {
                text-align: center;
                flex: 1;
            }
            .score {
                text-align: center;
                color: #80bd01;
                flex: 1;
            }
        }

    }
}